@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS variables */
:root {
  --color-primary-blue: #00aff0;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
} */

body.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body.light {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.TabsTrigger[data-state="active"] {
  color: white;
  background: #00aff0;
}

.TabsTriggerSettings[data-state="active"] {
  color: #1d1d1d;
  background: rgba(0, 175, 240, 0.1);
}

.truncate-lines {
  display: -webkit-box;
  /* Necessary for line clamp */
  -webkit-box-orient: vertical;
  /* Necessary for line clamp */
  -webkit-line-clamp: 4;
  /* Limit to 3 lines (for webkit browsers) */
  -moz-box-orient: vertical;
  /* Necessary for line clamp (for Firefox) */
  -ms-box-orient: vertical;
  /* Necessary for line clamp (for older IE versions) */
  box-orient: vertical;
  /* Standard */
  line-clamp: 4;
  /* Standard */
  overflow: hidden;
  /* Hide overflow text */
  text-overflow: ellipsis;
  /* Display ellipsis for overflow */
}
.truncate-2-lines {
  display: -webkit-box;
  /* Necessary for line clamp */
  -webkit-box-orient: vertical;
  /* Necessary for line clamp */
  -webkit-line-clamp: 2;
  /* Limit to 3 lines (for webkit browsers) */
  -moz-box-orient: vertical;
  /* Necessary for line clamp (for Firefox) */
  -ms-box-orient: vertical;
  /* Necessary for line clamp (for older IE versions) */
  box-orient: vertical;
  /* Standard */
  line-clamp: 4;
  /* Standard */
  overflow: hidden;
  /* Hide overflow text */
  text-overflow: ellipsis;
  /* Display ellipsis for overflow */
}

.countdown-animation {
  animation: countdownEffect 1s ease-in-out forwards;
}

@keyframes countdownEffect {
  0% {
    opacity: 0.5;
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.bg-custom-gradient {
  background: linear-gradient(215deg, #5b5bf0 2.4%, #00aff0 102.51%), #f5f4f6;
}
