include ./media.pug

//- AI Agent Log Section
div(class="rounded-lg w-full max-w-xs")
    //- AI Agent Log Section
    //- div(class="rounded-lg w-full flex flex-row gap-2 items-center border border-gray-100 p-[12px] mb-[30px]")
    //-     +media('image', '/img/puzzle-path.svg', 'AI Agent', 'mt-[3px] shrink-0')
    //-     p(class="text-sm text-gray-500 flex-1")
    //-         | PuzzlePath adjusted your learning path. 
        

    //- Notification at the top
    h4(class="text-lg font-semibold mb-3") AI Agent Log

    ul(class="space-y-2 ai-agent-log-wrapper max-h-[170px] overflow-y-auto")

